<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
       Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-segment scrollable value="heart">
  <ion-segment-button value="home">
    <ion-icon name="home"></ion-icon>
  </ion-segment-button>
  
 
</ion-segment>

<ion-content>
  
  <ion-card>
    <div class="col col-45"> <img src="./assets/p.jpg"/> </div>
    
    <ion-card-header>
     
    </ion-card-header>
  
    <ion-card-content>
        I am Carene Solano, BSIT Student. I hope you get to know me through these cards!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div class="col col-45"> <img src="./assets/st.jpg"/> </div>
    <ion-card-header>
    </ion-card-header>
  
    <ion-card-content>
      Stranger Things (2016-2022) It is an American science fiction horror drama television series 
      created by the Duffer Brothers and streaming on Netflix.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div class="col col-45"> <img src="./assets/kesh.jpg"/> </div>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>swn by his stage name keshi, is an American singer, songwriter, producer, 
      and multi-instrumentalist. he's one of my favorite singers and his songs are my favorites!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div class="col col-45"> <img src="./assets/tom.jpg"/> </div>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      This is Tom Holland, he  is an English actor. A graduate of the BRIT School for Performing Arts 
      and Technology in London. he plays spider-man in MCU, he's my love.
      </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="col col-45"> <img src="./assets/paris.jpg"/> </div>
      <div class="col col-45"> <img src="./assets/london.jpg"/> </div>
      <div class="col col-45"> <img src="./assets/japan.jpg"/> </div>
      <div class="col col-45"> <img src="./assets/us.jpg"/> </div>
    </ion-card-header>
  
    <ion-card-content>
      These are the places I want to go someday. I want to travel the world.
    </ion-card-content>
  </ion-card>
</ion-content>
